html{
    height:100%;
}

body{
    height:100%;
    
}

.clear{
    clear:both;
}

.insightTabela{
    width: 50%;
    float: left;
}


.configTexto{
    text-align:center;
    font-size:30px;
    padding-top:200px;
    color:white;
}

#postsBlog{
    padding:40px 0px;
    background:white;
    width:100%;
    height:100%;
}

.box-conteudo{
    float:left;
    width:33.33%;
    padding: 0 50px;
    margin:0 auto;
}

.foto-conteudo{
    height:300px;
}

.texto-conteudo{
    text-align:center;
    margin-top:20px;
    color: #3B3838;
}

.btn{
    height:33.33%;
    background: #008973;
    
    border-radius: 10px;
    color:#fff;
    padding: 10px 80px;
    transition:0.5s;
}

.btn:hover{
    background: #3B3838;
    color:#fff;
    transition:0.5s;
}

/*------- HEADER -------*/

.menu{
    background:#fff;
    max-width:auto;
    height:100px;
    border-bottom:3px solid #CBE6DA;
    
}

.menu ul{
    padding-left:350px;

}

.menu li{
    color:black;
    list-style:none;
    text-decoration:none;
    float:left;
    padding-right:20px;
    margin-top:30px;

}

.menu li a{
    color:gray;
    transition:0.3s;
}

.menu li a:hover{
    color:black;
    transition:0.3s;
}

.logo{
    float:left;
    max-width:113px;
    max-height:70px;
    margin-left:200px;
    
}



/************ FOOTER ********** */

footer {
        background-color: #3B3838
}
body:not(.custom-background-image):before, body:not(.custom-background-image):after{
    display:none;
}

footer .container{
    width: 970px;
    margin: 0 auto;
}


.insightTabela{
    width: 50%;
    float: left;
    color: white;
}

.blue-text{
    color: #00A69A;
}

#yellow-margin{
    width: 100%;
    background-color: #FBB91A;
    height: 2px;
    margin-top: 15px;
    margin-bottom: 5px;
}



#footer-down-meio{
    color: #fff;
    text-align: center;
}

#footer-down-meio span{
    color: #fff;
    text-align: center;
    font-size: 9px;
}

.footer-down-final p{
    color:#fff;
}

footer .insight-icons {
    text-align: center;
}

.insight-logo{
    width:300px;
}


.container .insight-table .quote{
    color:#fff;
    font-size: 23px;
}

/*****      SINGLE        *****/

.single{
    background:#fff;
}

#texto-conteudo h2{
    text-align:center;
    font-size:2em;
    margin-top: 30px;
    font-weight:bold;
}

#texto-conteudo p{
    max-width:700px;
    text-align:center;
}

#texto-conteudo{
    color:black;
}